.textField {
  display: flex;
  width: 200px;
  height: 30px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-color: #ff9900;
  border-style: ridge;
  border-width: 0;
  border-bottom-width: 5px;
  border-radius: 5px;
  margin: 5px;
  color: black;
  text-decoration: none;
  outline: none;
  /* removes the auto complete background */
  transition: background-color 5000s ease-in-out 0s;
}

.textField:focus {
  border-color: #996600;
}
