.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconButtonBackButton {
  position: absolute;
  top: 0;
  left: 0;
}
